
.vs/PacMan Mobile Prototype/v16/.suo
Library/ArtifactDB
Library/Artifacts/07/07446cd9c936a80a29d152ee86de6882
Library/Artifacts/81/81a057a358718df5d605afcb952b0b06
Library/Artifacts/e0/e0b235bea9a9d05ad2747bfc95b09186
Library/EditorInstance.json
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/Assembly-CSharp.dll.hash
Temp/CompilationLog.txt
Temp/UnityLockfile
Temp/UnityTempFile-61bf7e8546cee63488f9c47e71f5fa42
Temp/UnityTempFile-a2859eacd4a7d3d428dd9b14da2336e6
Temp/UnityTempFile-da1f77f40da801040b508628fc249ebb
Temp/workerlic
Temp/UnityTempFile-a025f9647ac710347a99be68eef57ba0
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Library/ArtifactDB
